body {
    text-align: center;
    color: #333;
}
.error-code span {
    font-size: 250px;
    font-weight: bolder;
}

.error-message span{
    font-size: 34px;
    font-weight: lighter;
}

.error-container {
    /*background: #c3c3c3;*/
    border-radius: 30px;
    height: 70%;
    margin-top: 5%;
}

.button-container {
    margin: 5% 0;
}