body {
    color: #333333;
    background: #9999FF;
}

p {
    line-height: 1.5;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.answer-radio {
    margin: 1% 0;
}

.title {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}

.rounded-container {
    padding: 75px;
    border-radius: .25rem;
    /*box-shadow: #cccccc 0 0 100px;*/
    background: #ffffff;
}

.row-center {
    margin: 10% 0;
}

.question {
    margin: 5% 0;
}

.range-value {
    font-size: 50px;
}

.answer {
    margin-top: 2%;
}

.smooth-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 25px;
    transition: .35s ease-out;
}

.smooth-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px;
}

.color {
    padding: 5px;
    border-radius: .25rem;
    width: 20%;
    text-align: center;
}

.yellow {
    background: #ffc107;
}

.green {
    background: #28a745;
    color: #ffffff;
}

.red {
    background: #dc3545;
    color: #ffffff;
}

.blue {
    background: #007bff;
    color: #ffffff;
}

.black {
    background: #333333;
    color: #ffffff;
}