<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>QuestionsController</servlet-name>
        <jsp-file>/pages/questions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <jsp-file>/pages/profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionsController</servlet-name>
        <url-pattern>/questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>400</error-code>
        <location>/pages/badRequest400.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/notFound404.jsp</location>
    </error-page>
</web-app>
